name: CI
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        # Keep this list as: all supported LTS JDKs, the latest GA JDK, and optionally the latest EA JDK (if available).
        # Reference: https://adoptium.net/support/
        java:
          - 11
          - 17
          - 21
          - 25
        browser:
          - chromeHeadless
          - htmlunit
          - firefox
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven
      - name: Build with Maven
        run: ./mvnw --batch-mode --no-transfer-progress verify --define browser=${{ matrix.browser }}
      - name: Upload Test Reports
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: test-reports-${{ matrix.os }}-${{ matrix.java }}
          path: |
            **/surefire-reports/*
            **/failsafe-reports/*
